*
!Dockerfile
!Dockerfile.ocr
!requirements-ocr.lock
!requirements-core.lock
!pyproject.toml
!README.md
!LICENSE
!NOTICE
!chatspark/
!chatspark/**
**/__pycache__
**/*.pyc

!scripts/
scripts/*
!scripts/prepare_image.py

!requirements-lxml-build.lock
!requirements-lxml-source.lock
!requirements-numpy-build.lock
!requirements-numpy-source.lock

!native-sources.json

!tesseract-source.json
